<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <ul>
                <li>
                    <a href="">Fashion Category for Model Shoot</a>
                </li>
                <li>
                    <a href="">Product Shoot Category</a>
                </li>
                <li>
                    <a href="">Client location Shoot</a>
                </li>
                <li>
                    <a href="">InHouse Production Shoot With One Model</a>
                </li>
                <li>
                    <a href="">InHouse Production Shoot With Two Model</a>
                </li>
                <li>
                    <a href="">OutDoor Production Shoot With One Model</a>
                </li>
                <li>
                    <a href="">OutDoor Production Shoot With Two Model</a>
                </li>
            </ul> -->
        </div>
    </div>
</div>


