
.proType{
    width: 400px;
   /*  border: 1px solid; */
    border-top: none;
}

.header{
    border: 1px solid;
    height: 37px;
    margin: 0px;
    text-align: center;
    padding-top: 25px;
}

.productCategory{
    padding: 15px;
    border: 1px solid;
    height: 18px;
  }

  .ProductType{
    list-style-type: none;
    padding: 0;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    margin: 0;
   /*  border: 1px solid; */
    height: 50px;
    padding: 0px;
    border-left: none;
    border-right: none;
}

.priceContent{
    border-bottom: 1px solid;
    height: 53px;
    text-align: center;
}

.productContent{
    height: 33px;
    text-align: center;
    border: 1px solid;
    border-top: none;
    padding-top: 16px;
}

.AddPrice{
    list-style-type: none;
    vertical-align: middle;
    position: relative;
    bottom: -130px;
}

.price{
    text-align: center;
    height: 50px;
    border: 1px solid;
    border-bottom: none;
    border-top: none;
}

.AddPrice{
    list-style-type: none;
    vertical-align: middle;
    position: relative;
    bottom: -130px;
}