.proType{
    width: 250px;
   /*  border: 1px solid; */
    border-top: none;
}

.header{
    border: 1px solid;
    height: 37px;
    margin: 0px;
    text-align: center;
    padding-top: 25px;
}

.productCategory{
    padding: 30px;
    border: 1px solid;
    height: 60px;
  }

  
.ProductType{
    list-style-type: none;
    padding: 0;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    margin: 0;
    border: 1px solid;
    height: 120px;
    padding: 0px;
    border-left: none;
    border-right: none;
}

.productContent{
    border-bottom: 1px solid;
    height: 30px;
    text-align: center;
    padding-top: 10px;
 }

 .proContent{
    border-bottom: 1px solid;
    height: 20px;
    text-align: center;
    padding-top: 10px;
 }

 .ModelPrice{
    list-style-type: none;
    border: 1px solid;
    height: 120px;
    margin: 0;
    padding-bottom: 20px;
    padding: 0;
}

.priceContent{
    border-bottom: 1px solid;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.price{
    text-align: center;
}

.priceDescription{
    width: 250px;
}