
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Product Shoot</h2>
            <div class="row" style="display: flex;">
            <div class="col-md-3 proType">   
                <h4 class="header">Shoot Type</h4>
                <div *ngFor = "let name of shoottype; let i = index">
                    <div class="productCategory">{{name.name}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="proType" >
                    <h4 class="header">Product type</h4>
                    <ul class="ProductType">
                        <li class="productContent">Top</li>
                        <li class="productContent">Bottom</li>
                        <li class="price">Set(top/bottom)</li>
                    </ul>
                    <ul  class="ProductType">
                        <li class="proContent">Shinny / Glossy Products</li>
                        <li class="proContent">Small Size Products</li>
                        <li class="proContent">Midium Size Products</li>
                        <li class="price">Large Size Products</li>
                    </ul>
                    
                    <ul  class="ProductType">
                        <li class="productContent">Top</li>
                        <li class="productContent">Bottom</li>
                        <li class="price">Set(top/bottom)</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 priceDescription">
                <h4 class="header">Price Per product</h4>
                <ul class="ModelPrice">
                    <li class="priceContent">150/-</li>
                    <li class="priceContent">150/-</li>
                    <li class="price">150/-</li>
                </ul>
                <ul class="ModelPrice">
                    <li class="proContent">150/-</li>
                    <li class="proContent">120/-</li>
                    <li class="proContent">150/-</li>
                    <li class="price">180/-</li>
                </ul>

                <ul class="ModelPrice">
                    <li class="productContent" >250/-</li>
                    <li class="productContent">200/-</li>
                    <li class="price">400/-</li>
                </ul>
          </div>

          <div class="col-md-3 priceDescription">
            <div>
                <h4 class="header">No of Images per product</h4>
                <ul class="ModelPrice">
                    <li  class="priceContent">3</li>
                    <li  class="priceContent">3</li>
                    <li  class="price">3</li>
                </ul>
                <ul  class="ModelPrice">
                    <li  class="proContent">3-5</li>
                    <li  class="proContent">5</li>
                    <li  class="proContent">5</li>
                    <li  class="price">5</li>
                </ul>

                <ul  class="ModelPrice">
                    <li class="productContent">3</li>
                    <li class="productContent">3</li>
                    <li class="price">3</li>
                </ul>
            </div>
         </div>

              </div>
        </div>
     </div>
</div>