<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Fashion Category</h2>
        <div class="row" style="display: flex; border: 1px solid;">
           <div class="col-md-2 proType">   
            <h4 class="header">Product Category</h4>
            <div *ngFor = "let name of productName; let i = index">
                <div class="productCategory">{{name.name}}</div>
            </div>
          </div>
    
        <div class="col-md-2">
            <div class="proType" >
                <h4 class="header">Product type</h4>
                <ul class="ProductType">
                    <li class="productContent">Top</li>
                    <li class="productContent">Bottom</li>
                    <li class="price">Set(top/bottom)</li>
                </ul>
                <ul  class="ProductType">
                    <li class="productContent">Top</li>
                    <li class="productContent">Bottom</li>
                    <li class="price">Set(top/bottom)</li>
                </ul>
                
                <ul  class="ProductType">
                    <li class="productContent">Saree</li>
                    <li class="productContent">Salwar/Sherwani</li>
                    <li class="price">kurthi/kurthas</li >
                </ul>
                <ul  class="ProductType">
                    <li class="proName">Men</li>
                    <li class="price">women</li>
                </ul>
            </div>
        </div>
    
        <div class="col-md-2">
            
                <h4 class="header">National Model Price (6 Images per Product)</h4>
                <ul class="ModelPrice">
                    <li class="priceContent">250/-</li>
                    <li class="price">300/-</li>
                </ul>
                <ul class="ModelPrice">
                    <li class="priceContent">350/-</li>
                    <li class="price">500/-</li>
                </ul>

                <ul class="ModelPrice">
                    <li class="productContent" >350/-</li>
                    <li class="productContent">300/-</li>
                    <li class="price">250/-</li>
                </ul>

                <ul class="ModelPrice">
                    <li class="price NoPrice">NA</li>
                </ul>
          
        </div>

        <div class="col-md-2">
            <div>
                <h4 class="header">InterNational Model Price (6 Images per Product)</h4>
                <ul class="ModelPrice">
                    <li  class="priceContent">350/-</li>
                    <li  class="price">450/-</li>
                </ul>
                <ul  class="ModelPrice">
                    <li class="priceContent">500/-</li>
                    <li class="price">700/-</li>
                </ul>

                <ul  class="ModelPrice">
                    <li class="productContent">450/-</li>
                    <li class="productContent">450/-</li>
                    <li class="price">350/-</li>
                </ul>

                <ul  class="ModelPrice">
                    <li class="proName">550</li>
                    <li class="price">650</li>
                </ul>
            </div>
        </div>
    
        <div class="col-md-2 subPrice">
              <div class="">
                <h4 class="header">Cost For Additional Image With Props (2 Images)</h4>
                <ul class="AddPrice">
                    <li>100/-</li>
                </ul>
              </div>
            </div>

            <div class="col-md-2 subPrice">
              <div class="">
                <h4 class="header">Cost For Additional Image With Product Shoot (2 Images)</h4>
                <ul class="AddPrice">
                    <li>50/-</li>
                </ul>
              </div>
            </div>
        </div>            
            </div>
        </div>
    </div>
   