.productCategory{
  padding: 30px;
  border: 1px solid;
}

.ProductType{
    list-style-type: none;
    padding: 0;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    margin: 0;
    border: 1px solid;
    height: 78px;
    padding: 0px;
    border-left: none;
    border-right: none;
}

.ModelPrice{
    list-style-type: none;
    border: 1px solid;
    height: 78px;
    margin: 0;
    padding-bottom: 20px;
    padding: 0;
}

.INmodelPrice{
    list-style-type: none;
    /* padding: 0; */
    margin: 20px;
    margin-left: 50px;
    margin-right: 40px;
    padding-bottom: 20px;
}

.AddPrice{
    list-style-type: none;
    vertical-align: middle;
    position: relative;
    bottom: -130px;
}

.proType{
    width: 150px;
   /*  border: 1px solid; */
    border-top: none;
}

.subPrice{
    width: 220px;
  border-left: 1px solid;
}

.header{
    border: 1px solid;
    height: 58px;
    margin: 0px;
    text-align: center;
    padding-top: 25px;
}

.productContent{
    border-bottom: 1px solid;
    height: 20px;
    text-align: center;
    padding-top: 6px;
}

.priceContent{
    border-bottom: 1px solid;
    height: 35px;
    text-align: center;
    padding-top: 18px;
}

.price{
    text-align: center;
}

.proName{
    height: 20px;
    border-bottom: 1px solid;
    text-align: center;
    padding-top: 20px;
}

.NoPrice{
    padding: 30px;
}