<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <a href="">Model-Booking</a>
                <ul>
                    <li>
                        <a routerLink = '/FashionCategory'>Fashion Category for Model Shoot</a>
                    </li>
                    <li>
                        <a routerLink = '/ProductShoot'>Product Shoot Category</a>
                    </li>
                    <li>
                        <a routerLink = '/InHouseShoot'>InHouse Production Shoot</a>
                    </li>
                    <li>
                        <a routerLink = '/OutDoorShoot'>OutDoor Production Shoot</a>
                    </li>
                </ul>
            </div>
            <div>
                <a href="">Market-Place</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>