<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>OutDoor Production shoot With One Model</h2>

            <div class="row" style="display: flex; border: 1px solid;">
                <div class="col-md-3 proType">   
                 <h4 class="header">Description</h4>
                 <div *ngFor = "let name of description; let i = index">
                     <div class="productCategory">{{name.value}}</div>
                 </div>
               </div>

               <div class="col-md-3">
                <div class="proType" >
                    <h4 class="header">Cost per Day</h4>
                    <ul class="ProductType">
                        <li class="productContent">25000/-</li>
                        <li class="productContent">10000/-</li>
                        <li class="productContent">8000/-</li>
                        <li class="productContent">7000/-</li>
                        <li class="productContent">7000/-</li>
                        <li class="productContent">3000/-</li>
                        <li class="productContent">60,000/-</li>
                        <li class="productContent">50/- per Image</li>
                        <li class="price">At Actuals</li>
                    </ul>
                   
                </div>
            </div>

            <div class="col-md-3">
                <div class="proType" >
                    <h4 class="header">Note</h4>
                    <ul class="ProductType">
                        <li class="productContent">Depend on the model selection the price varies</li>
                        <li class="productContent"></li>
                        <li class="productContent"></li>
                        <li class="productContent"></li>
                        <li class="productContent"></li>
                        <li class="productContent">To and Fro travel and Lunch cost have to be provided by the client</li>
                        <li class="productContent"></li>
                        <li class="productContent">Selected images will be edited</li>
                        <li class="price"></li>
                    </ul>
                   
                </div>
            </div>

            <div class="col-md-2 subPrice">
                <div class="">
                  <ul class="AddPrice">
                      <li>We can shoot Minumun 30 Products and Maximun upto 50 products</li>
                  </ul>
                </div>
              </div>


               </div>
            </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h2>OutDoor Production shoot with Two Model</h2>
        
                    <div class="row" style="display: flex; border: 1px solid;">
                        <div class="col-md-3 proType">   
                         <h4 class="header">Description</h4>
                         <div *ngFor = "let name of description; let i = index">
                             <div class="productCategory">{{name.value}}</div>
                         </div>
                       </div>
        
                       <div class="col-md-3">
                        <div class="proType" >
                            <h4 class="header">Cost per Day</h4>
                            <ul class="ProductType">
                                <li class="productContent">50,000/-</li>
                                <li class="productContent">15,000/-</li>
                                <li class="productContent">8000/-</li>
                                <li class="productContent">7000/-</li>
                                <li class="productContent">7000/-</li>
                                <li class="productContent">3000/-</li>
                                <li class="productContent">90,000/-</li>
                                <li class="productContent">50/- per Image</li>
                                <li class="price">At Actuals</li>
                            </ul>
                           
                        </div>
                    </div>
        
                    <div class="col-md-3">
                        <div class="proType" >
                            <h4 class="header">Note</h4>
                            <ul class="ProductType">
                                <li class="productContent">Depend on the model selection the price varies</li>
                                <li class="productContent"></li>
                                <li class="productContent"></li>
                                <li class="productContent"></li>
                                <li class="productContent"></li>
                                <li class="productContent">To and Fro travel and Lunch cost have to be provided by the client</li>
                                <li class="productContent"></li>
                                <li class="productContent">Selected images will be edited</li>
                                <li class="price"></li>
                            </ul>
                           
                        </div>
                    </div>
        
                    <div class="col-md-2 subPrice">
                        <div class="">
                          <ul class="AddPrice">
                              <li>We can shoot Minumun 30 Products and Maximun upto 50 products</li>
                          </ul>
                        </div>
                      </div>
        
        
                       </div>
                    </div>
                    </div>
            </div>


